ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}

#canvas {
    background: red;
    height: 100vh;
    position: relative;
}

#canvas2 {
    background: white;
    display: block;
}

#point {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 3px;
    position: absolute;
}

.actions {
    position: fixed;
    left: 0;
    top: 0;
}

.actions svg {
    width: 2em;
    height: 2em;
    margin: 6px 6px;
    transition: all 0.3s;
}

.actions svg.active {
    fill: red;
    transform: scale(1.3);
    transition: all 0.3s;
}

.colors {
    position: fixed;
    top: 40px;
    left: 8px;
}

.colors>li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px 0;
    position: relative;
}


.colors .colorDelete.select{
	width: 12px;
	height: 12px;
	margin: auto;
    position: absolute; 
    left: 12px;
    bottom: 8px;
    border: 1px solid red;
    border-radius: 50%;
    transform: scale(0.8);
    transition: all 0.3s;
}

.colors .colorDelete{
	width: 12px;
	height: 12px;
	margin: auto;
    position: absolute; 
    left: 12px;
    bottom: 8px;
    border: 1px solid red;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s;
}
.colors .colorDelete::before,
.colors .colorDelete::after{
  content: "";
  position: absolute;  /*方便进行定位*/
  height: 12px;
  width: 2px;
  right: 5px;  /*设置top和right使图像在20*20框中居中*/
 background: red;
}
.colors .colorDelete::before{
  transform: rotate(45deg);  /*进行旋转*/
}
.colors .colorDelete::after{
  transform: rotate(-45deg);
}










.colors>.select {
    transform: scale(1.3);
    transition: all 0.3s;
}

.add {
    transition: color .25s;
    position: relative;
}

.add::before {
    content: '';
    position: absolute;
    width: 16px;
    margin-left: 2px;
    margin-top: 8px;
    border-top: 4px solid;
}

.add::after {
    content: '';
    position: absolute;
    height: 16px;
    margin-left: 8px;
    margin-top: 2px;
    border-left: 4px solid;
}

#colorPanl_Bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.4);
    display: none;
}

#colorPanl_Bg.actions {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(44, 44, 44, 0.4);
    display: inline;
}

#colorPanl_Color {
    width: 150px;
    height: 150px;
    border: solid black 1px;
    background: white;
    margin: 10px 10px;
}

#colorPanl_Input {
    margin: 10px 10px;
}

#colorPanl {
    position: absolute;
    border: solid green 2px;
    left: 40px;
    top: 44px;
    background: rgba(44, 44, 44, 0.4);
}


.pen_Size{
    position: absolute;
    left: 60px;
}